head
  meta(charset="UTF8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="../../dist/css/manifest.css")
  style.
    @media only screen and (max-width: 600px) {
      .mobile-view_mod {
        display: block !important;
        width: 100% !important;
      }
      .mobile-view-padding_mod{
        padding: 10px 0;
      }
      .mobile-view_mod.item tbody {
        display: block;
        width: 100% !important;
      }
      .mobile-padding {
        padding: 10px;
      }
      .mobile-hide_mod {
        display: none !important;
      }
      .main-table {
        width: 100% !important;
      }
      .mobile-view-img_mod {
        max-width: 100% !important;
        width: 100% !important;
        height: auto !important;
      }

      .mobile-float_mod {
        width: 100% !important;
        float: left !important;
        padding-left: 0 !important;
        max-width: 430px !important;
      } 

      .mobile-float_mod--half {
        width: 50% !important;
      }

      .main-img__wrap {
        padding: 0 0 0 0 !important;
      }
    }

    .main-text {
      font-size: 12px!important;
    }

    .main-link {
      font-size: 12px!important;
    }

    .main-text--medium {
      font-size: 18px !important;
    }

    .main-text--large {
      font-size: 26px!important;
    }
