include spacer

mixin img()
  tr
    td(width="100%" style="width: 100%" valign="top")
      table(width="100%" style="width: 100%" valign="top" bgcolor="transparent" border="0" cellspacing="0" cellpadding="0")
        tr
          block
